@charset "UTF-8";

/* modo landscape */

body{
    background-image: url(../imagens/wallpaper1911a.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}