@charset "UTF-8";

@media screen and (max-width:620px) {
    body{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        margin: 0px;
    }
    header{
        background-image: linear-gradient(to Bottom, rgb(27, 27, 255), rgb(48, 0, 206));
        color: white;
        text-align: center;
        padding-bottom: 10px;
    }
    #mportraite{
        display: active;
    }
    #mlandscape{
        display: none;
    }
    #titulomenu{
        margin: 0px;
        padding: 20px;
    }
    .opmenu{
        background-color: rgb(0, 20, 151);
        color: white;
        text-decoration: none;
        margin: 0px;
        padding: 20px;
        border-radius: 6px;
    }
    main > h1 {
        margin: 0px;
        padding-bottom: 5px;
        padding-top: 40px;
        text-align: center;
    }
    main > p {
        margin: 0px;
        padding: 20px;
        text-align: justify;
        text-indent: 50px;
    }
    main{
        max-width: 900px;
        min-width: 300px;
        margin: auto;
        margin-top: 10px;
        background-color:  rgba(184, 178, 204, 0.121);
        border-radius: 10px;
    }
    footer{
        background-color: rgb(0, 20, 151);
        color: rgb(196, 167, 0);
        text-decoration: none;
        text-align: center;
        font-style: italic;
        margin: 0px;
        padding: 3px;
    }
    
}