*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(texturam.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100vh;
    position: relative;
}
#smartphone{
    height: 606px;
    width: 296px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url(smartphone1511b.png);
    background-repeat: no-repeat;
}
#tela{
    position: relative;
    top: 35px;
    left: 14px;
    width: 265px;
    height: 530px;
}